@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    margin: 0;
    box-sizing: content-box;
}

html, body, .container{
    height: 100%;
}

body{
    background-color: #000;
    width: 100%;
    overflow-y : hidden;
}

.container {
    display: flex;
    justify-content : center;
    align-items : center;
}

canvas{
    width: 100%;
    height: 100%;
    cursor: none;
}

#viewport {
    position: relative
}
#contacts {
    position : absolute;
    width : 200px;
    perspective: 600px;
    perspective-origin: center;
}

#contacts, #contacts a {
    color: #fff;
    font-family: 'Ubuntu', 'Open Sans', sans-serif;
    font-size : 0.85em;
    padding: 5px 0 0 5px;
    margin: auto 0 auto 0;
}
#contacts a {
    display: block;
    text-decoration: none;
    opacity: 0;
    transform-origin: top;
    animation: .5s ease-in-out 0.5s forwards fadeOut;
}
#contacts p {
    display: inline-block;
}
#contacts img {
    height: 0.8em;
    margin-right: 5px;
}

@keyframes fadeOut {
    from { transform: rotateX(1.72rad); opacity: 0 }
    to   { transform: rotateX(0rad); opacity: 1 }
}


.old-browser-hint {
    color: white

}